<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <%- include('../components/_header'); %>
    <!-- <%- include('../components/_nav-sp'); %> -->
    <div class="p-toggle">ああ</div>

    <main class="l-main">
      <div>
        <%- include('../components/_mv'); %>
      </div>
      <section>
        <%- include('../components/_lead'); %>
      </section>
      <section>
        <%- include('../components/_products'); %>
      </section>
      <section>
        <%- include('../components/_information'); %>
      </section>
    </main>
    <%- include('../components/_footer'); %>
    <script src="js/bundle.js"></script>
  </body>
</html>
