<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <%- include('../components/_opening'); %> <%-
    include('../components/_header'); %> <%- include('../components/_nav-sp');
    %>
    <div id="js-toggle" class="p-toggle"></div>
    <main class="l-main">
      <%- include('../components/_floating'); %>
      <div>
        <%- include('../components/_mv'); %> <%-
        include('../components/_scroll'); %>
      </div>
      <section>
        <%- include('../components/_lead'); %>
      </section>
      <section>
        <%- include('../components/_products'); %>
      </section>
      <section>
        <%- include('../components/_information'); %>
      </section>
    </main>
    <%- include('../components/_footer'); %>
    <script src="js/bundle.js"></script>
  </body>
</html>
